.button{
    border-radius: 50px;
    border: none;
    outline: 0;
    margin: 0.7rem 0;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: white;

    &.ios-button{
        background: $primary-cyan;
        box-shadow: rgba(38, 186, 164, 0.3) 0px 8px 24px;
        border-bottom: 4px solid #219f8a;

        &:hover{
            transition: .5s;
            cursor: pointer;
            background: #60cbbb;
            border-bottom: 4px solid #57b8a7;
        }
    }

    &.mac-button{
        background: $primary-blue;
        box-shadow: rgba(97, 115, 255, 0.2) 0px 8px 24px;
        border-bottom: 4px solid #4f62da;

        &:hover{
            transition: .5s;
            cursor: pointer;
            background: #8896ff;
            border-bottom: 4px solid #7e87e2;
        }
    }
}