.title{
    color:$title-color;
    font-size: 32px;
    line-height: 2.5rem;
    text-align: center;
    
    &.subtitle{
        margin-bottom: 1rem;
        font-size: 28px;
        line-height: 2.2rem;
    }

    &.small-title{
        font-size: 24px;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }
}