.title{
    color:$title-color;
    font-size: 32px;
    line-height: 2.5rem;
    text-align: center;
    
    &.subtitle{
        margin-bottom: 1rem;
        font-size: 28px;
        line-height: 2.2rem;
    }

    &.small-title{
        font-size: 24px;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }

    @include respond(tab-land){
        font-size: 45px;

        &.subtitle{
            font-size: 36px;
            margin-bottom:1.6rem;
        }

        &.small-title{
            // font-size: 25px;
        }
    }
}